{{options.text}}
{{#if options.isRequired}}
  <span class="required-star">
    *
  </span>
{{/if}}
<span class={{tooltipClass}} data-tooltip={{options.tooltip.text}}>
  <i class={{fullIconClass}}></i>
</span>