@import "variables";
@import "mixins";
@import "responsive-font-size";

.single-text-input-container {
    &.has-errors {
      input: {
        border: 1px solid $error-color;
      }
    width: 100%;
  }

  .dynamic-errors {
    // @include flex-container(null, null, column, wrap, flex-start, flex-start, flex-start);
    display: block;
    .error-message {
      font-size: 0.9em;
      margin: 0;
      padding: 5px;
    }
  }
}